<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Peliculas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>

<div class="d-flex justify-content-center">
    <div class="w-75">
        <!-- Cabecera de tabla -->
        <div class="row d-flex justify-content-center align-items-center">
            <h1 class="text-center">Pelicula</h1>
            <div class="col-md-4 align-self-center">
                <!-- Botones para cambiar de idioma -->
                <button class="btn btn-primary" th:text="'español'"
                        onclick="window.location.href='http://localhost:8080/pedidos?lang=es'">
                </button>
                <button class="btn btn-danger" th:text="'ingles'"
                        onclick="window.location.href='http://localhost:8080/pedidos?lang=en'">
                </button>
            </div>
            <!-- FORM CREAR -->
            <form th:action="@{/peliculas/crear}" class="p-3">
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> &ensp;
                    <th:block th:text="'Crear'"></th:block>
                </button>
            </form>
        </div>

        <!-- Cuerpo de la tabla -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">titulo</th>
                <th scope="col">descripcion</th>
                <th scope="col">fecha_lanzamiento</th>
                <th scope="col">id_idioma</th>
                <th scope="col">duracion_alquiler</th>
                <th scope="col">rental_rate</th>
                <th scope="col">duracion</th>
                <th scope="col">replacement_cost</th>
                <th scope="col">ultima_actualizacion</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pelicula : ${listaPelis}">
                <th scope="row" th:text="${pelicula.idPelicula}">Título</th>
                <td th:text="${pelicula.titulo}">Título</td>
                <td th:text="${pelicula.descipcion}">Autor</td>
                <td th:text="${pelicula.fechaLanzamiento}">Título</td>
                <td th:text="${pelicula.idIdioma}">Autor</td>
                <td th:text="${pelicula.duracionAlquiler}">Título</td>
                <td th:text="${pelicula.rentalRate}">Autor</td>
                <td th:text="${pelicula.duracion}">Título</td>
                <td th:text="${pelicula.replacementCost}">Autor</td>
                <td th:text="${pelicula.ultimaActualizacion}">Autor</td>

                <td>
                    <form method="get" th:action="@{/peliculas/editar/__${pelicula.idPelicula}__}">
                        <input type="hidden" name="id"/>
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-pen"></i>&ensp;Editar</button>
                    </form>
                </td>
                <td>
                    <form method="get" th:action="@{/peliculas/__${pelicula.idPelicula}__}">
                        <input type="hidden" name="id"/>
                        <button type="submit" class="btn btn-info"><i class="fas fa-info"></i>&ensp;Ver Detalles
                        </button>
                    </form>
                </td>
                <td>
                    <form th:method="post" th:action="@{/peliculas/borrar/__${pelicula.idPelicula}__}">
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                th:data-target="'#modal' + ${pelicula.idPelicula}"><i class="fas fa-trash"></i>&ensp;Borrar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'modal' + ${pelicula.idPelicula}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">¿Está seguro de que quiere
                                            borrar este comercial?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body" th:text="'Cliente con ID: '+ ${pelicula.idPelicula}">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            No, cancelar.
                                        </button>
                                        <button type="submit" class="btn btn-primary">Sí, continuar.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>